* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */



/* navbar */

nav {
    width: 100%;
    background-color: white;
    height: 4rem;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.nav-left {
    display: flex;
}

.nav-left img {
    object-fit: contain;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ul-header{
    display: flex;
    list-style: none;
}

li {
    padding: .7rem;
}

.inizia {
    background-color: #0061FF;
    margin-right: 1rem;
    background-size: contain;
    color: white;
}

/* jubmo */

.container {
    padding-top: 4rem;
    background-color: #B4D0E7;
}

.header-title {
    max-width: 70%;
    height: 100%;
    margin: auto;
    padding-top: 3rem;
}

h1 {
    font-size: 3.2rem;
    padding-bottom: .5rem;
}

p {
    padding-bottom: 2rem;
    font-size: .8rem;
}

span{
    font-size: 1rem;
}

.jumbo-bottom {
    display: flex;
    position: relative;
    top: 50px;
}

.inizia{
    color: white;
    background-color: #0061FF;
    padding: .5rem;
    font-size: .8rem;
}

.annulla {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    font-size: .8rem;
}

.fa-sharp {
    position: absolute;
    left: 0;
    font-size: 2rem;
    padding-top: 1.2rem;
}


.jumbo-img { /* capire come far sbordare l'img da sotto */
    width: 100%;
}

/* main */

main{
    padding-top: 6rem;
}


.first, .second, .third, .fourth, .seventh{
    max-width: 60%;
    margin: auto;
}

h2{
    padding-bottom: 2rem;
}

.fatturazione{
    padding-right: 2.5rem;
}

/* first section */


.piano-business{
    display: flex;
    margin: auto;
    gap: 1rem;
    padding-top: 2rem;
}

.card{
    width: calc(100% / 3);
    border: 1px solid black;
}

.card-top{
    text-align: center;
    border-bottom: 1px solid black;
    padding: .4rem;
}

ul{
    list-style: none;
    padding: 1rem;
}

li{
    padding: .5eem;
}

.fa-solid{
    padding-right: .5rem;
}

.prova{
    color: white;
    background-color: #0061FF;
    background-size: cover;
    text-align: center;
}

.month{
    color: grey;
}

.acquista{
    color: #0061FF;
}


.fa-check{
    color: #0061FF;
}

 
.card-rotate{
    width: 100%;
    border: 1px solid black;
  
    margin-top: 1rem;
} 

.card-bottom{
    position: relative;
}

.card-bottom > * {
    padding: 1.5rem;
}

.contact{
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    background-color: #0061FF;
}

/* second section */

.second{
    padding-top: 5rem;
    display: flex;
}

.partner-img{
    width: 60%;
    height: 100%;
    object-fit: contain;
}

.partner-img img{
    width: 100%;
}

.partner-text{
    width: 40%;
    text-align: left;
    padding-left: 1.5rem;
    padding-top: 2.5rem;
}

.search-partner{
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
}

/* section third */

.third{
    padding-top: 5rem;
}

.mini-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.mini-card{
    width: 30%;
}

.mini-card img{
    width: 100%;
}

/* section fourth */

.fourth{
    padding-top: 5rem;
    font-size: 2rem;
}

.our-client{
    font-size: 1rem;
}

/* section fifth */

.fifth{
    padding-top: 5rem;
    display: flex;
}

.fifth-left{
    /* width: calc(100% / 3); */
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

.fifth-center{
    width: 50%;
    /* width: calc(100% / 3); */
}

.fifth-right{
    width: 25%;
    /* width: calc(100% / 3); */
    display: flex;
    flex-wrap: wrap;
}

.square-left, .square-right{
    width: 50%;
    height: 50%;
}

.square-center{
    background-color: #F5F5F5;
    padding: 1rem;
}

.university{
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding-left: 2.5rem;
}

#designit{
    background-color: #A2D39B;
}

#designit-center{
    width: 40%;
    padding: 0;
}

#arizona{
    background-color: #61082B;
}

#florida{
    background-color: #0093CE;
}

#tops{
    background-color: #FF1C1C;
}

#bicycle{
    background-color: #D5001F;
}

#hearts{
    background-color: #B4D0E7;
}

#lonely{
    background-color: #0D2481;
}

#channel{
    background-color: #FFD830;
}

/* section sixth */

.sixth{
    background-color: #B4D0E7;
}

.sixth-text{
    max-width: 60%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    color: #643B4F;
}

.free{
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: #FFFFFF;
    padding: .5rem;
    color: black;

}

/* section seventh */

.seventh{
    position: relative;
}

.text-seventh{
    padding-top: 5rem;
}

.fa-chevron-down{
    padding-left: 5rem;
    position: absolute;
    right: 0;
}

/* footer */

footer{
    color: white;
    background-color: black;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

