* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* header */

/* navbar */

nav {
    height: 4rem;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
}

.nav-left img {
    object-fit: contain;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: .7rem;
}

.inizia {
    background-color: #0061FF;
    margin-right: 1rem;
    background-size: contain;
    color: white;
}

/* jubmo */

.container {
    height: 500px;
    background-color: #B4D0E7;
}

.header-title {
    max-width: 60%;
    height: 100%;
    margin: auto;
    padding-top: 4rem;
}

h1 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

p {
    padding-bottom: 1.2rem;
}

.jumbo-bottom {
    display: flex;
    position: relative;
}

.annulla {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.fa-sharp {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2rem;
}

.jumbo-img {
    width: 60%;
}
