* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* general */

h1 {
    font-size: 3.2rem;
    padding-bottom: .5rem;
}

h2, p {
    padding-bottom: 2rem;
}


ul {
    list-style: none;
    padding: 1rem;
}

li {
    padding: .7rem;
    position: relative;
}

a, .a-nav {
    text-decoration: none;
    color: white;
}

p {
    font-size: .8rem;
}

/* navbar */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.nav-left {
    display: flex;
}

.nav-left img {
    object-fit: contain;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ul-header {
    display: flex;
}

.link-nav {
    color: black;
}


.link-nav:hover {
    background-color: #0061FF;
    border-radius: 5px;
}

.inizia-nav {
    background-color: #0061FF;
    margin-right: 1rem;
    background-size: contain;
    color: white;
    padding-inline: 1rem; 
}

.dropdown {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    margin-top: 1.7rem;
    position: absolute;
    background-color: white;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown-content li {
    background-color: #f1f1f1;
    display: block;
  }

.dropdown-content li:hover {
    background-color: #ddd;
}
  

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

#arrow {
    color: black;
}

/* jubmo */

.container {
    padding-top: 4rem;
    background-color: #B4D0E7;
}

.header-title {
    max-width: 70%;
    margin: auto;
    padding-top: 3rem;
}

.jumbo-bottom {
    display: flex;
    position: relative;
    top: 50px;
}

.inizia {
    color: white;
    background-color: #0061FF;
    padding: .5rem;
    font-size: .8rem;
}

.annulla {
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    font-size: .8rem;
}

.fa-sharp {
    position: absolute;
    left: 0;
    font-size: 2rem;
    padding-top: 2rem;
}


.jumbo-img {
    width: 100%;
}

/* main */

main {
    padding-top: 6rem;
}


.piani, .found, .business, .business-info, .answer {
    max-width: 60%;
    margin: auto;
}

/* piani */

.fatturazione {
    padding-right: 2.5rem;
}


.piano-business {
    display: flex;
    margin: auto;
    gap: 1rem;
    padding-top: 2rem;
}

.card {
    width: calc(100% / 3);
    border: 1px solid black;
}

.card-top {
    text-align: center;
    border-bottom: 1px solid black;
    padding: .4rem;
}

.price {
    font-size: .8rem;
}

.fa-solid {
    padding-right: .5rem;
}

.prova {
    color: white;
    background-color: #0061FF;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
}

.month {
    color: grey;
}

.text-acquista {
    padding-left: 1.2rem;
}

.acquista {
    color: #0061FF;
}

.hr-section {
    width: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
}


.fa-check {
    color: #0061FF;
}

.card-rotate {
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
} 

.card-bottom {
    position: relative;
    display: flex;
}

.card-bottom > * {
    padding-left: 1.2rem;
}

.entreprise {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.bottom-left {
    flex: 0 0 60%;
}

#team-text {
    padding-top: 2.5rem;
}


#contact {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    background-color: #0061FF;
    font-size: .8rem;
    padding: 1rem;
}

/* found */

.found {
    padding-top: 5rem;
    display: flex;
}

.partner-img {
    width: 60%;
    height: 100%;
}

.partner-img img {
    width: 100%;
}

.partner-text {
    width: 40%;
    padding-left: 1.5rem;
    padding-top: 2.5rem;
}

.search-partner {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.link-found, .link-try {
    color: black;
}

/* business */

.business {
    padding-top: 5rem;
}

.mini-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.mini-card {
    width: 30%;
}

.mini-card img {
    width: 100%;
}

/* business-info */

.business-info {
    padding-top: 5rem;
    font-size: 2rem;
}

.our-client {
    font-size: 1rem;
    color: blue;
    text-decoration: underline;
}

/* collab */

.collab {
    padding-top: 5rem;
    display: flex;
}

.collab-left {
    width: calc( 100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.collab-center {
    width: calc( 100% / 3);
}

.collab-right {
    width: calc( 100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-left, .square-right {
    width: calc(100% / 2);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-center {
    background-color: #F5F5F5;
    height: 400px;
}

.university {
    width: 50%;
    object-fit: contain;
    filter: invert(1);
}

.design-paragraph, .author, #designit-center{
    padding-left: 2rem;
}

.design-paragraph {
    padding-bottom: 2.5rem;
}

.author {
    padding-top: .5rem;
    padding-bottom: 4rem;
}

.border-img {
    width: 20%;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

#designit {
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

#designit-center {
    width: 50%;
    height: 40%;
    filter: invert(0);
}

#arizona {
    background-color: #61082B;
}

#florida {
    background-color: #0093CE;
}

#tops {
    background-color: #FF1C1C;
}

#bicycle {
    background-color: #D5001F;
}

#hearts {
    background-color: #B4D0E7;
}

#lonely {
    background-color: #0D2481;
}

#channel {
    background-color: #FFD830;
}

/* try-business */

.try-business {
    background-color: #B4D0E7;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.try-business-text {
    max-width: 60%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: #643B4F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#h2-try-business {
    padding: 0;
}

.free {
    background-color: #FFFFFF;
    padding: .5rem;
    padding-inline: 1rem;
    color: black;

}

/* answer */

.answer {
    position: relative;
    padding-bottom: 5rem;
}

.answer-row {
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.answer-text {
    padding-top: 5rem;
    border-bottom: 1px solid black;
}

.fa-chevron-down {
    padding-left: 5rem;
    padding-right: 1.5rem;
    position: absolute;
    right: 0;
    color: black;
}

/* footer */

footer {
    color: white;
    background-color: black;
}

/* footer top */

.footer-top {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top ul {
    flex: 1 0 auto;
}

.li-title {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    
}

.li-footer {
    padding-top: .5rem;
    font-size: .8rem;
}

/* footer bottom */

.footer-bottom {
    max-width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fa-earth-americas {
    padding-left: 1.5rem;
}

#footer-hr {
    width: 12%;
    color: white;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 3rem;
}

